.name
{



color:#FDF5E6	;


}

.one
{
  background-color:#006400;
  border-style:solid;
border-width:0px;
padding-top:45px;
margin:0;
text-align:center;
  width:*;
  height:130px;
}