.aa
{
background-color:green;

border-style:solid;
border-width:4px;
border-color:red;
border-radius:10px;
width:570px;
padding-bottom:30px;
padding-top:10px;
padding-left:20px;
}

.bb
{
background-color:yellow;

position:absolute;
left:650px;
top:10px;

border-style:solid;
border-width:4px;
border-color:red;
border-radius:10px;
width:400px;
padding-bottom:30px;
padding-top:10px;
padding-left:20px;

}