header
{

border-style:solid;
border-width:4px;
border-color:red;
border-radius:10px;
padding-bottom:30px;
}

.adjust
{
color:green;
font-size:20px;

position:absolute;
left:30px;
top:76px;



}

.abc
{
color:green;
 position:absolute;
left:1170px;
top:20px;
}

.nav
{
 float:right;
 font-size:25px;
 font-style:normal;
 
 font-type:serif;
 font-color:black;
}

.travel
{
border-style:solid;
border-color:green;
border-radius:10px;
border-width:4px;
}

.text
{
position:absolute;
 top:395px;
 left:13px;
 color:red;
}

.sect
{
 border-style:solid;
 border-color:blue;
 border-radius:10px;
 border-width:4px;
 
 padding-top:2px;
padding-left:2px;
padding-bottom:2px;
padding-right:2px;

}

.navi
{

position:absolute;
 top:0px;
 left:1225px;
 font-size:25px;
}

.art
{
border-style:solid;
border-color:black;
border-width:4px;
border-radius:10px;
margin-right:500px;

padding-left:5px;
}

.side
{
position:absolute;
left:840px;
top:460px;
width:482px;
height:325px;
border-style:solid;
border-color:red;
border-width:4px;
border-radius:10px;
}

.surendra
{
position:absolute;
left:180px;
top:80px;
}

.last
{
border-style:solid;
border-color:hotpink;
border-width:4px;
border-radius:10px;
height:150px;

padding-top:2px;
padding-left:2px;
padding-bottom:2px;
padding-right:2px;
}

.one
{
border-style:solid;
border-color:black;
border-width:4px;
border-radius:10px;
height:130px;
width:375px;

position:absolute;
left:20px;
top:830px;
}

.two
{
border-style:solid;
border-color:black;
border-width:4px;
border-radius:10px;
height:130px;
width:375px;

position:absolute;
left:460px;
top:830px;
}

.three
{
border-style:solid;
border-color:black;
border-width:4px;
border-radius:10px;
height:130px;
width:375px;

position:absolute;
left:900px;
top:830px;
}